/***start:: sidebar lists */
.sidebar-toggle {
  position :absolute;
  top : 2px;
  left : 18px;
  font-size : 33px;

  &:hover {
    color : #fff;
    cursor: pointer;
  }
}

.sidebar {
  position :relative;
  transition: width .3s ease-in-out;
}
.lists{
    margin-top : 30px;
    display: none;
}
  
  .dropdown {
    display : flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  
  .dropdownItems {
    color : lightgray;
    background-color: rgba(#000 , .1);
    font-size: 15px;
    border-bottom: 1px solid #455;
    padding : 7px 0;
    cursor: pointer;
    // width : 295px;
    padding-right : 10px;
    &:hover {
      // transform: scale(1.01);
      background-color :  #444;
    }
  }
  
  .collapsible {
    background-color: #494949;
    color: white;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: right;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    transition: max-height .6s linear , opacity .6s ease-out;
    padding: 0;
    opacity: 0;
    max-height : 0;
    overflow: hidden;
    background-color: #444;
    width : 265px;
    margin-bottom : 0;
    list-style-type: none;
    border-bottom: 1px solid #555;
  }
  
  .user-area {
    display: none;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  
    &> div > img {
      width : 50px;
      height: 50px;
      border-radius: 100px;
      margin-top: 5px;
    }
  
    &>p {
      color : lightgray;
      font-size: 15px;
    }
  
  }
  
  
  
  /***end:: sidebar lists */