/* navbar */
.my-navbar{
    position : fixed;
    top:0;
    left : 0;
    right : 0;
    z-index: 100000;
    background-color: white; 
    border-bottom: 1px solid #ccc;
    
  }
  .signup {
    background-color: rgba(255 , 131 , 0 , 1);
    padding : 4px 30px;
    border-radius: 20px;

    &:hover {
      transform: scale(1.1);
    }
  }

  .login::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgba(255 , 131 , 0 , 1);
    transition: width .3s;
  }

  .login:hover::after {
    width: 100%;
  }

  .nav-item::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgba(255 , 131 , 0 , 1);
    transition: width .3s;
  }

  .nav-item:hover::after {
    width : 100%;
  }
  /* end navbar */
  